# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.swiftpm

# CocoaPods
Pods/
*.podspec
Podfile.lock

# Carthage
Carthage/Build/

# Build artifacts
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# User-specific files
*.xcuserstate
*.xcuserdatad
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Backup files
*.bak
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Other
*.zip
